html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar h1{
  text-align: left;
}
.navs{
  display:inline-block;
  color:#fc322f;
  margin-left:1200px;
}
.navs a{
  padding:8px;
}
.navs a:hover{
  color:black;
  border-bottom:2px solid #fc322f;
}
.para{
  width:50%;
  text-align:left;
  margin:20px;
  margin-left:400px;
  justify-content:center;

}
.home{
  background-color:whitesmoke;
  text-align:center;
}